################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/OnlineShop/.vs/ProjectEvaluation/onlineshop.projects.v5.2
/OnlineShop/.vs/ProjectEvaluation/onlineshop.metadata.v5.2
/OnlineShop/.vs
/OnlineShop/.vs/OnlineShop/v17
/OnlineShop/0_FrameWork/bin/debug/net6.0
/OnlineShop/ServiceHost/bin/debug/net6.0
/OnlineShop/
*.dll
*.exe
*.exp
*.ilk
*.lib
*.ncb
*.log
*.pdb