################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/OnlineShop/.vs/ProjectEvaluation/onlineshop.projects.v5.2
/OnlineShop/.vs/ProjectEvaluation/onlineshop.metadata.v5.2
/OnlineShop/.vs/OnlineShop/FileContentIndex/057ec2c5-595b-40cb-a83c-962b308e34ee.vsidx
/OnlineShop/.vs/OnlineShop/FileContentIndex/77103ef2-1379-4500-91d5-37e5075ee13c.vsidx
/.vs/OnlineShop_2/FileContentIndex/619ebf4a-e1be-469d-9239-6cb2b863530c.vsidx
/.vs/OnlineShop_2/FileContentIndex/8a30c298-57cc-46a9-93ad-7679d0a7feda.vsidx
/.vs/OnlineShop_2/v17/workspaceFileList.bin
